<head>
    <title>URL Shortener Microservice</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcun icon" href="img/fav-18.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" 
          rel="stylesheet">
</head>
<div class="contained">
    <div class="cfx">
        <a href="https://www.freecodecamp.org/">
            <img class="fcc-ico" 
                 src="https://cdn-images-1.medium.com/max/1200/1*B6_f-_SxscJ9FCuIjOrQAQ.jpeg" 
                 alt="fcc-logo"
                 target="_blank">
        </a>
        <p class="fcc-title">Apis and Microservices Projects</p> 
    </div>
    
    <h1>URL Shortener Microservice</h1>
    <h3>
        You can pass a URL as a parameter and it will return a shortened URL in
        JSON format.
    </h3>
    <h4 class="mrg-top">Example usage:</h2>
    <p class="snipet">
        https://short-my-url.herokuapp.com/new/https://www.google.com
    </p>
    <p class="snipet">
        https://short-my-url.herokuapp.com/new/http://foo.com:80
    </p>
    
    <h4 class="mrg-top">Example output:</h2>
    <p class="snipet">
        { <br>
            "original_url":"https://www.google.com", <br>
            "short_url":"https://little-url.herokuapp.com/0" <br>
        }
    </p>
</div>
